<h1>EDIT ALLOWANCE DETAILS</h1>

<%= form_for @deduct do |f| %>

<h4><%= f.label :pf, class:'required' %></h4>
<h4><%= f.text_field :pf %></h4>

<h4><%= f.label :esi, class:'required' %></h4>
<h4><%= f.text_field :esi %></h4>

<h4><%= f.label :te, class:'required' %></h4>
<h4><%= f.text_field :te %></h4>

<h4><%= f.label :share, class:'required' %></h4>
<h4><%= f.text_field :share %></h4>


<fieldset class="form-actions"> <%= f.submit "UPDATE", class: "btn btn-primary" %></field>
<% end %>
